
/*  */
.hello-box{
    width: 78vw;
    height: 30vh;
    background-image: url('../../public/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 65% 66%;
    position: relative;
}
.home-content{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 30px;
}
.card{
    height: 200px;
    width: 300px;
    background-color:red;
}
.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.icon{
    font-size: 30px;
    color: orange;
}
.abait{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.abait-time{
    font-size: 17px;
    color: white;
}
.abait-box{
    position: absolute;
    right: 4%;
    bottom: 8%;
}